<nav aria-label="Primary">
  <ul>
    <li><a {% if page.url=="/" %}aria-current="page"{% endif %} href="/">Home</a></li>
    {% for nav in collections.primary %}
    <li>
      <a {% if page.url==nav.url %}aria-current="page"{% endif %} href="{{ nav.url | url }}">{{ nav.data.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>